# Byte-compiled / optimized
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Environments
.env
.envrc
.venv
venv/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type checkers
.mypy_cache/
.ruff_cache/

# IDE
.idea/
.vscode/
